body{
    background-color:rgb(30,40,50);
}
.navbar-nav .nav-link:hover{
    font-weight:bold;
    color:blue;
}
.navbar-nav .nav-link{
    font-size:20px;
}
.navbar-brand{
    font-size:25px;
}
.navbar-dark{
    background-color:rgb(18,1,1);
}
.circular-image-container{
    width:200px;
    height:200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-image{
    width:100%;
    height: auto;
    display: block;
}
.name{
    color: white;
}
.title{
    color: rgb(175,245,200);

}
.sociallink{
    width:70px;
    height:70px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.about_image{
    width:200px;
    height:auto;
    display:block;
}
.form-container{
    border:2px solid white;
    padding:20px;
    border-radius:10px;
    background-color:grey;
}













